body{
    margin: 0;
    padding: 0;
    background: #090a0a;
background: linear-gradient(90deg, rgba(9, 10, 10, 1) 0%, rgba(33, 29, 29, 1) 43%);

overflow: hidden;
}
/*index*/
header{
    margin-bottom: 5rem;
}
nav {
    display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 3rem;
     gap: 10px;
}


.logo{
     align-items: center;
     text-align: left;
     grid-column: 1/2;
}
.logo img{
    width: 5.5rem;
    margin-left: 5rem;
}

#navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 2/3;
}

#navigation a {
    color: antiquewhite;
    text-decoration: none;
 font-family: "Michroma", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.4rem;
    border: 1px solid transparent;
    border-radius: 16px; 
    padding: 4px 8px; 
    margin-top: 2.1rem;
}
#navigation a:hover{
    border: 1px solid whitesmoke;
    border-radius: 16px;
    color: black;
    background-color: beige;
    
    
}

.contacter{
    grid-column: 3/4;
    
}
.monprofil img{
    width: 29rem;
    border: 5px solid transparent;
    border-radius: 190px;
    margin-left: 2rem;
}
.menuindex{
    display: flex;
}
.menuindex .presentation{
    align-content: center;
    justify-content: space-around;
    color: whitesmoke;
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
}
.presentation h1{
    
  font-family: "Caprasimo", serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 3rem;
}
.presentation p{
     font-family: "Caprasimo", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  margin-right: 2.5rem;
}
footer{
    margin-top: 4rem;
}
footer hr{
    width: 75%;
}

/*Contact*/
.lecontact{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 34rem 16rem;
    gap: 7px;
}
.maphoto{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 99%;
}
.maphoto img{
    width: 28rem;
    margin-left: 4rem;
}
.lefomulaire{
     grid-column: 2/2;
    grid-row: 1/2;
    width: 99%;
}
fieldset{
    margin-right: 2rem;
     background-color: rgba(255, 255, 255, 0.2); /* Fond blanc semi-transparent */
           border-radius: 15px; /* Coins arrondis */
          border: 1px solid rgba(255, 255, 255, 0.3); /* Bordure fine semi-transparente */
           box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Ombre douce */
           -webkit-backdrop-filter: blur(10px); /* L'effet de flou sur l'arrière-plan */
           backdrop-filter: blur(10px); /* Pour la compatibilité Safari */
            /* --- Fin des styles Glassmorphism --- */

          color: #fff; /* Couleur du texte sur le verre */
           text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* Ombre pour la lisibilité du texte */

}
fieldset form{
      color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 10px;
}
form label{


  font-family: "Edu VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
form button{
 text-align: center;
    padding: 0.4rem;
    
}

form button:hover{
    background-color: #090a0a;
    color: aliceblue;

       
    
}

.lefooter{
     grid-column: 1/3;
    grid-row: 2/3;
    width: 99%;
    text-align: center;
    
    color: beige;
}
a .social{
    width: 3rem;
    
}


/*le cv*/
.cv{
    width: 100%;
    height: auto;
    color: whitesmoke;
    flex-direction: row;
    margin-left: 2rem;
}

.myname{
    display: flex;
      align-content: center;
        justify-content: space-around;
    width: 80%;
   
       
}

/*projet*/
.contenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 12px;
}

a .oeuvre{
    width: 35rem;
}
/*FORMAT MOBILE*/

@media screen and (max-width: 1180px) {
/*accueil*/
    

#navigation a {
   
  font-weight: 800;
  font-size: 1.2rem;
    margin-top: 1.8rem;
}
.logo img{
    width: 4.8rem;
    margin-left: 2.2rem;
}
.monprofil img{
    width: 20rem;
    margin-left: 1.8rem;
}

.presentation h1{

  font-weight: 700;
  font-size: 2.1rem;
}
.presentation p{
    
  font-weight: 400;
  font-size: 1.2rem;
  margin-right: 2rem;
}
footer{
    margin-top: 4rem;
}

/*projet*/
      a .oeuvre{
    width: 25rem;
  }
  .contenu{
    
    gap: 8px;
}
/*contact*/
.maphoto img{
    width: 20rem;
    margin-left: 2rem;
}
fieldset{
    margin-right: 1rem;
}
fieldset form{
    padding: 1rem;
    gap: 5px;
}
a .social{
    width: 2rem;
    
}
.lefooter p {
    font-size: 0.9rem;
}
}
@media screen and (max-width: 1020px){
/*accueil*/
    .monprofil img{
    width: 15rem;
    margin-left: 1.4rem;
}
.logo img{
    width: 3rem;
    margin-left: 2.0rem;
}

}


@media screen and (max-width: 820px) {
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
/*accueil*/
#navigation a {
   
  font-weight: 700;
  font-size: 1rem;
    margin-top: 1.2rem;
}
.menuindex{
    display: flex;
    flex-direction: column;
}
.logo img{
    width: 3.2rem;

}

/*projet*/
  a .oeuvre{
    width: 21.3rem;
  }
  .contenu{
    
    gap: 8px;
}
/*contact*/
    .lecontact{
        display: flex;
        flex-direction: column;
    }
    .maphoto img{
    width: 12rem;
    margin-left: 5.3rem;
}

fieldset{
    margin-right: 0.3rem;
     margin-left: 0.3rem;
}
fieldset form{
    padding: 1rem;
    margin: 1rem;
    gap: 2px;
}
a .social{
    width: 1.8rem;
    
}
.lefooter{
    margin-top: 2rem;
}
ul hr{
    display: none;
}
}